@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans bg-gray-dark container text-white overflow-x-hidden;
}

hgroup {
  @apply flex flex-col items-center gap-4;
}

h1 {
  @apply text-4xl sm:text-7xl font-medium text-center leading-snug;
}

h2 {
  @apply text-white/50 text-sm uppercase px-6 py-2 rounded-full border border-white/30 text-center;
}

h3 {
  @apply text-3xl sm:text-5xl text-center leading-snug;
}

section {
  @apply my-20;
}

main {
  @apply sm:mt-40;
}

// Scrollbar

html,
body {
  @apply h-full;
  scrollbar-gutter: stable;
}

html {
  &.--prevent-scroll {
    overflow: hidden;
  }
}

*::-webkit-scrollbar {
  @apply w-0 h-0 xl:w-1 xl:h-1;
}

*::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-track:active {
  background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  @apply bg-blue-800 rounded-none;
}

*::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-800;
}

*::-webkit-scrollbar-thumb:active {
  @apply bg-blue-800;
}
